node_modules/

tools/ReportMaintenance/ReportMaintenance.Cli/appsettings.Development.json

tools/ReportMaintenance/ReportMaintenance.Cli/bin/Debug/

tools/ReportMaintenance/ReportMaintenance.Cli/obj/

# local secrets
appsettings.Development.json
